@import "@/variables.scss";

.nav-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 101;
    cursor: pointer;

    &:hover {
        .nav-button__icon {
            fill: $accent !important;
        }

        .nav-button__label {
            color: $accent !important;
            font-weight: bold;
        }
    }

    &__icon {
        width: 30px;
        height: 30px;
        fill: $secondary;

        &--active {
            fill: $accent !important;
        }
    }

    &__label {
        font-size: 12px;
        font-weight: 300;
        margin: 0 1rem;
        color: $secondary;
        transition: color 0.3s;

        &--active {
            color: $accent;
            font-weight: bold;
        }

        @media (max-width: $md) {
            font-size: 1rem;
        }
    }
}
