$primary: #1c1a1a; //tło
$secondary: #534f4f; //tło
$white: #fff; //tekst
$tertiary: $primary;
$quaternary: $primary;
$accent: #ffce66; //główny
$accent-light: rgb(240, 166, 70);
$md: 768px;
$lg: 992px;
$xl: 1200px;
//kolory apki: żółty, szary, czarny, biały
